html, body {
  height: 100vh;
  margin: 0;
}

header {
  background: url("bg.jpg");
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

h1 {
  color: white;
  font-size: 12vh;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15vh;
}

a {
  font-size: 4vh;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border: 2px solid white;
}

a:hover {
  color: black;
  background: white;
  font-weight: 200;
}

p {
  width: 600px;
  color: #18121B;
  margin: 0 auto 20px;
  margin-bottom: 50px;
  font-size: 5vh;
}

.author {
  text-align: right;
  font-style: italic;
}

@media (max-width: 950px) {
  p {
    width: auto;
    margin: 0 30px 10px 30px;
  }
}

footer {
	background-color: #18121B;
	padding: 10px 0;
  text-align: center;
}

footer .heart {
	color: #fff;
	float: center;
	font-size: 3vh;
}


.love {
    display: inline-block;
    position: relative;
    top: .2em;
    font-size: 1.4em;
    color: #e74c3c;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse;
}

@-webkit-keyframes love {
    to {-webkit-transform: scale(1.2);}
}

@-moz-keyframes love {
    to {-moz-transform: scale(1.2);}
}
@keyframes love {
    to {transform: scale(1.2);}
}
